<!DOCTYPE html>
<html>

<head>
    <title>Random Match Game</title>
</head>

<body>
    <h1>Codeforces Race Game</h1>

    {% if not status %}
    <form method="POST" action="/random">
        <label>Enter your Codeforces handle:</label><br>
        <input type="text" name="handle" required>
        <button type="submit">Join Game</button>
    </form>
    {% endif %}

    {% if status == "waiting" %}
    <p>Waiting for opponent...</p>
    <p><b>Your handle:</b> {{ cf_handle }}</p>
    <form method="POST" action="/leave">
        <button type="submit">Exit</button>
    </form>


    <script>
        setTimeout(() =>
        {
            window.location.href = "/random";
        }, 1000);
    </script>
    {% endif %}

    {% if status == "matched" %}
    <h3>Matched!</h3>
    <p><b>Your handle:</b> {{ cf_handle }}</p>
    <p><b>Opponent:</b> {{ opponent_handle }}</p>

    <h4>{{ problem.name }} ({{ problem.rating }})</h4>

    <a href="https://codeforces.com/contest/{{ problem.contestId }}/problem/{{ problem.index }}" target="_blank">
        Open Problem
    </a>

    <form method="POST" action="/check_solution">
        <input type="hidden" name="player_id" value="{{ player_id }}">
        <input type="hidden" name="contest_id" value="{{ problem.contestId }}">
        <input type="hidden" name="problem_index" value="{{ problem.index }}">
        <button type="submit">Check Solution</button>
    </form>

    {% if result %}
    <p><b>{{ result }}</b></p>
    {% endif %}
    {% endif %}

</body>

</html>